<li class="list-group-item <% if email.read == true %>bg-primary<% end %>" id="email-item-<%= email.id %>">
    <% title = email.email + " - Object : " + email.object %>
    <% if email.read == true %>
        <% class_link = 'class_link text-white' %>
    <% else %>
        <% class_link = 'class_link' %>
    <% end %>
    <%= link_to title, email_path(email.id), method: :put, data: { params: { read: true, id: email.id }.to_param, remote: true}, class: class_link %>
    <%= link_to title, email_path(email.id), method: :put, data: { params: { read: true, id: email.id }.to_param, remote: true}, class: 'class_link_hidden d-none' %>
</li>