<h1>Email</h1>
<div class="container">
    <div class="row">
        <div class="col-4">
            <aside>
                <h2>Liste des emails</h2>
                <ul>
                    <li></li>
                </ul>
            </aside>
        </div>
        <div class="col-8">
            <article>
                <h2>Email sélectionné</h2>
            </article>
        </div>
    </div>
</div>