<div class="container">
    <h1>Emails</h1>
    <div class="row my-5">
        <!-- NAVIGATION -->
        <div class="col-12 mb-4">
            <nav>
                <ul class="">
                    <li class="">
                        <%= link_to 'recevoir un email', email_index_path, method: :post, class: 'btn btn-primary', remote: true %>
                    </li>
                </ul>
            </nav>
        </div>
        <!-- LEFT -->
        <div class="col-4">
            <aside>
                <h2>Liste des emails</h2>
                <ul class="list-group" id="email-list">
                    <% @emails.each do |email| %>
                        <li class="list-group-item <% if email.read == true %>bg-primary<% end %>" id="email-item-<%= email.id %>">
                            <% title = email.email + " - Object : " + email.object %>
                            <% if email.read == true %>
                                <% class_link = 'class_link text-white' %>
                            <% else %>
                                <% class_link = 'class_link' %>
                            <% end %>
                            <%= link_to title, email_path(email.id), method: :get, data: { params: { read: true, id: email.id }.to_param, remote: true}, class: class_link %>
                            <%= link_to title, email_path(email.id), method: :put, data: { params: { read: true, id: email.id }.to_param, remote: true}, class: 'class_link_hidden d-none' %>
                        </li>
                    <% end %>
                </ul>
            </aside>
        </div>
        <!-- RIGHT -->
        <div class="col-8">
            <article>
                <h2>Email sélectionné</h2>
                <div id="email-content"></div>
            </article>
        </div>
    </div>
</div>